.SeachForm{
    display: flex;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #222;
}

.SeachForm input{
    flex: 1;
    height: 50px;
    padding: 0 8px;
    border: 0;
    background-color: transparent;
}